nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    
}

nav li {
    display: inline-block;
    margin-right: 20px;
    
}

nav a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
}
body{
    margin:auto;
    max-width: 500px;
}
.mygallery{
    width: 250px;
    height: 250px;
    margin: 5px;
    float: left;
}
 h2{
    text-align: center;

 }
 #homeimage{
    display: block;
        margin-left: auto;
        margin-right: auto;

 }
 body{
    background-color: silver;
    text-align: center;
 }
 #mydiv{
    padding: 10px;
 }
 
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:black;
}